﻿a.joblink:hover, a.deletelink:hover {
    cursor: pointer;
}
a.joblink  {
    white-space:nowrap;
}
.masterOverlayMask {
    background-color: #000000;
    display: none;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 9000;
}

.contentOverlayWindow {
    background-color: #FFFFFF;
    display: none;
    position: fixed;
    z-index: 9999;
    width:80%;
    top:10%;
    left:10%;

}
form.inlineform {
    display: inline-block;
}

div.appheader {
    border:0px solid green;
   
}

div.headerthing {
    display: inline-block;
    margin: 0px;
    font-weight: bold;
    border: 0px solid yellow;
    padding:0px;
    color:white;
    font-size:28px;
    line-height:52px;
}


div .Category250 {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-align: center;
    float: none;
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}
div.Category251 {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    text-align: center;
    float: none;
    clear:both;
    margin-left: 0px;
    margin-right: 0px;
}
input.AlignLeftTextArea {
    width:100%;
}


div.container {
    float:none;
}

    div.kpiline, div.kpiline div {
        padding-top: 1px;
        padding-bottom: 1px;
    }

div.kpiline {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}
div.kpilinelarge {
    clear: none;
}

input:not([type="submit"]) {
    width: 120px;
    text-align: right;
}

#FV20Block002 input:not([type="submit"]) {
    float: left;
    width: 100px;
}

textarea {
    font-family: inherit;
    width: 100%;
    max-width: 100%;
}

div.OBcol1 {
    display: inline-block;
    width: 25%;
    text-align: left;
    font-weight: bold;
}



#FV20Block002 {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

body {
    padding: 0px;
    display: block;
    margin: 0px;
    padding-bottom: 10px;
}

.body-content {
    padding-left: 8px;
    padding-right: 8px;
    height: 90vh;
}
tr:nth-child(even) {
    background: #F1F1F1;
}

tr:nth-child(odd) {
    background: #FFF
}

.searchdiv {
    display: block;
}


a.pagerlink {
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
}

div.pagerfooter {
    width: 100%;
    text-align: right;
}

#reqdate {
    display: inline-block;
}


div.FV20Block002left, div.FV20Block002right {
    display: block;
    float: left;
 
}

div.FV20Block002left {
    width:60%;
}

div.FV20Block002right {
    width: 40%;
}

div.FV20Block002leftA {
    padding-top: 5px;
    display: inline-block;
    font-weight: bold;
    width: 65%;
    text-align: left;
}

div.FV20Block002leftB {
    padding-top: 5px;
    display: inline-block;
    width: 35%;
    text-align: left;
    font-weight: normal;
}

div.detailcolumn {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width: 13%;
}

div.detailcolumnwide {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width: 28%;
}

.headersubmit:hover, #headersubmit:hover {
    cursor: pointer;
}
.masterDivHeader {
    margin-top: 8px;
    float: right;
    border: 0px solid yellow;
}

.masterDivIcons {
    height: 35px;
}

.masterDivIcon {
    cursor: pointer;
    float: left;
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;
    width: 35px;
    text-align:center;
}

    .masterDivIcon div {
        color: #FFFFFF;
        float: left;
        font-size: 10px;
        width: 100%;
    }

    .masterDivIcon img {
        height: 16px;
        width: 16px;
    }

    .masterDivIcon span {
        cursor: pointer;
        float: left;
        width: 34px;
        color: #FFFFFF;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
    }
.backlink {
    float: right;
    margin-right: 12px;
    text-decoration: underline;
}
span.redText {
    font-weight:bold;
    color:red;
    clear:left;
}


div .jtd, div .current {
    display: inline-block;
}
div.mainlogodiv {
    width: 150px;
    height: 60px;
}

img.mainlogo {
    max-width: 150px;
    max-height: 50px;
}

.ui-datepicker-trigger {
    display:inline-block;
}

input:not(.btn) {
    margin-top: 5px;
    display:inline-block !important;

}