﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ if (@TempData.Peek("ApplicationName") != null)
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: @TempData.Peek("ApplicationName").ToString() :::</title>
        }
        else
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: Coupa Download :::</title>
        }

    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/KPI2009common.css" />
    <link rel="stylesheet" media="(max-width: 510px)" href="~/Content/KPI2009mobile.css" />
    <link rel="stylesheet" media="(max-width: 768px)" href="~/Content/KPI2009tablet.css" />
    <link rel="stylesheet" media="(min-width: 768px)" href="~/Content/KPI2009regular.css" />

    <script type="text/javascript">

        $(document).ready(function () {



            $(function () { $("#gldatestart").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });
            $(function () { $("#gldateend").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });

            $(function () { $("#invoicedatestart").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });
            $(function () { $("#invoicedateend").datepicker({ showOn: "button", buttonImage: "/Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });

            $('#submitme').css("display", "block");
            $('#spinner').css("display", "none");

            $('#submitme').click(function () {
                if ($('#thisform').valid()) {
                    $('#submitme').css("display", "none");
                    $('#spinner').css("display", "block");
                }
            });



            $('#searchbutton').click(function () {
                //if ($('#thisform').valid()) {
                //    $('#submitme').css("display", "none");
                //    $('#spinner').css("display", "block");
                // }
            });

            $('#searchbackground').click(function () {
                hidejobsearch();
            });
        });
        function hidejobsearch() {
            $("#searchbackground").css("display", "none");
            $("#jobsearch").css("display", "none");
        }

        function showjobsearch() {
            $("#searchbackground").css("display", "block");
            $("#jobsearch").css("display", "block");
        }
    </script>

</head>
<body onunload="">

            <div id="searchbackground" style="display:none;position:absolute;width:100%;height:100%;z-index:999;background-color:#808080;opacity: 0.5;filter: alpha(opacity=50);">&nbsp;</div>


            <div id="jobsearch" style="display:none;margin-left:15%;width:70%;z-index:1000;position:fixed;border:0px solid green;top:15%;height:600px;">
                @Html.Action("Jobs")
            </div>
            <div class="container body-content">
                @RenderBody()
                <div style="text-align:center;">2001 - @DateTime.Now.Year Clark Construction Group, LLC</div>
            </div>




    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>